In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, Float, Date

In [2]:
three_bars_df = pd.read_csv('../data/Three Bars.csv')
three_bars_df

  quintile  price_earnings  price_book  debt_equity
0       Q1            12.3        11.4          7.5
1       Q2            10.4        12.5          4.8
2       Q3             8.6         9.1         13.5
3       Q4             7.5         8.6         12.1
4       Q5             3.8         4.7          8.8

In [3]:
data_filename = "../data/threebars.sqlite"
engine = create_engine(f"sqlite:///{data_filename}", echo=False)

In [4]:
three_bars_df.to_sql('threebars', con=engine, if_exists='replace')

In [6]:
engine.execute("SELECT price_earnings FROM threebars").fetchall()

[(12.3,), (10.4,), (8.6,), (7.5,), (3.8,)]

In [7]:
three_bars_df.to_json()

'{"quintile":{"0":"Q1","1":"Q2","2":"Q3","3":"Q4","4":"Q5"},"price_earnings":{"0":12.3,"1":10.4,"2":8.6,"3":7.5,"4":3.8},"price_book":{"0":11.4,"1":12.5,"2":9.1,"3":8.6,"4":4.7},"debt_equity":{"0":7.5,"1":4.8,"2":13.5,"3":12.1,"4":8.8}}'