In [ ]:
# Open the CompanyData database
# In the Prices file, calculate the forward 3 month return
# Do an inner join on the two files
# calculate all the ratios
# write code to return the quintile results based on flask requests

In [1]:
import pandas as pd
import requests
import json
import datetime
import time
from dateutil.relativedelta import relativedelta

import sqlalchemy
from sqlalchemy.types import Integer, Text, String, Float, Date
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
database_name = "../data/CompanyData.sqlite"
engine = create_engine(f"sqlite:///{database_name}", echo=False)
inspector = inspect(engine)
print(inspector.get_table_names())

['FinData2', 'PriceData2', 'findata', 'pricedata']

In [ ]:
columns = inspector.get_columns('findata')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
columns = inspector.get_columns('pricedata')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
create_FinData_sql = 'CREATE TABLE "FinData2" (' + \
    'idx BIGINT, ' + \
    'monthend_date DATE, ' + \
    'ticker VARCHAR(8), ' + \
    'cash FLOAT, ' + \
    'st_debt FLOAT, ' + \
    'lt_debt FLOAT, ' + \
    'equity FLOAT, ' + \
    'revenue FLOAT, ' + \
    'ebit FLOAT, ' + \
    'net_income FLOAT, ' + \
    'basic_eps FLOAT, ' + \
    'diluted_eps FLOAT, ' + \
    'shares FLOAT, ' + \
    'qtr_date DATE, ' + \
    'PRIMARY KEY (monthend_date, ticker));'

engine.execute(create_FinData_sql)

In [ ]:
sql_stmt = "INSERT INTO FinData2 SELECT * FROM findata"
engine.execute(sql_stmt)

In [ ]:
create_PriceData_sql = 'CREATE TABLE "PriceData2" (' + \
    'idx BIGINT, ' + \
    'monthend_date DATE, ' + \
    'ticker VARCHAR(8), ' + \
    'price FLOAT, ' + \
    'wealth_index FLOAT, ' + \
    'PRIMARY KEY (monthend_date, ticker));'

engine.execute(create_PriceData_sql)

In [ ]:
sql_stmt = "INSERT INTO PriceData2 SELECT * FROM pricedata"
engine.execute(sql_stmt)

In [3]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['FinData2', 'PriceData2']

In [4]:
FinData = Base.classes.FinData2
PriceData = Base.classes.PriceData2
session = Session(engine)

In [ ]:
sel = [FinData.ticker, FinData.monthend_date, FinData.diluted_eps] 

selected_data = session.query(*sel).\
    filter(FinData.ticker == "IBM").all()

selected_data

In [5]:
prices_df = pd.read_sql_query("SELECT * FROM PriceData2", engine)

NameError: name 'df' is not defined

In [6]:
prices_df.head()

   idx monthend_date ticker  price  wealth_index
0    0    2019-09-30      A  77.97       77.9700
1    1    2019-08-31      A  71.11       71.1100
2    2    2019-07-31      A  69.41       69.4100
3    3    2019-06-30      A  74.67       74.5060
4    4    2019-05-31      A  67.05       66.9027

In [7]:
len(prices_df.idx)

107909